body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Base styles for the map and side panel */
#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#side-panel {
  position: absolute;
  top: 0;
  right: -320px; /* Start off-screen */
  width: 300px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent */
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 15px;
}

#side-panel.open {
  right: 0; /* Slide in */
}

#close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}



#side-panel h2 {
  margin-top: 0;
}

#side-panel img {
  display: block;
  margin-bottom: 15px;
}

/* Style for the legend container */
.info.legend {
  background: white;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Style for the colored squares in the legend */
.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

